In [1]:
import pandas as pd
import numpy as np

In [9]:
df = pd.read_csv('/workspaces/descomplicaMBADataScience/dataset_variacao_preco_loja_informatica.csv')
df

,Data da Venda,Código Produto,Nome Produto,Garantia Extendida,Categoria do Produto,Quantidade Vendido,Valor Unitário,Valor Total da Venda,Cidade da Loja,País da Loja,Vendedor
0,2023-12-22,35,Computador,Não,Computadores,2,2806.0,5612.0,New York,Estados Unidos,Bob
1,2023-03-23,60,Cadeira,Não,Móveis,6,312.0,1872.0,Porto,Portugal,Sofia
2,2023-12-15,10,Mouse,Sim,Periféricos,9,122.0,1098.0,Los Angeles,Estados Unidos,Bob
3,2023-08-29,10,Mouse,Sim,Periféricos,9,114.0,1026.0,Los Angeles,Estados Unidos,John
4,2023-12-16,50,Mesa,Não,Móveis,4,549.0,2196.0,Madrid,Espanha,David
...,...,...,...,...,...,...,...,...,...,...,...
2045,2023-06-29,96,Placa de Vídeo,Não,Periféricos,10,2420.0,24200.0,Belo Horizonte,Brasil,Carlos
2046,2023-08-21,70,Licença Windows,Não,Software,8,1026.0,8208.0,Madrid,Espanha,David
2047,2023-05-27,23,Cabo HDMI,Sim,Periféricos,9,43.2,388.8,Coimbra,Portugal,Miguel
2048,2023-03-27,10,Mouse,Não,Periféricos,8,104.0,832.0,New York,Estados Unidos,Alice
2049,2023-04-12,95,Memória,Sim,Armazenamento,2,339.2,678.4,New York,Estados Unidos,John

In [10]:
#quantidade de pedidos por país
pd.crosstab(df['País da Loja'], df['Nome Produto'])

Nome Produto,Cabo HDMI,Cadeira,Computador,HD SSD,Licença Office 365,Licença Windows,Memória,Mesa,Monitor,Mouse,Notebook,Placa de Vídeo,Teclado
País da Loja,,,,,,,,,,,,,
Brasil,35,48,39,30,47,47,43,37,34,37,34,48,46
Espanha,37,41,39,44,38,32,29,37,37,33,33,41,47
Estados Unidos,28,36,36,44,50,45,39,45,31,51,32,36,49
Portugal,32,40,37,41,45,36,38,47,36,46,38,37,42

In [12]:
pd.crosstab(df['País da Loja'], df['Nome Produto'], margins=True)

Nome Produto,Cabo HDMI,Cadeira,Computador,HD SSD,Licença Office 365,Licença Windows,Memória,Mesa,Monitor,Mouse,Notebook,Placa de Vídeo,Teclado,All
País da Loja,,,,,,,,,,,,,,
Brasil,35,48,39,30,47,47,43,37,34,37,34,48,46,525
Espanha,37,41,39,44,38,32,29,37,37,33,33,41,47,488
Estados Unidos,28,36,36,44,50,45,39,45,31,51,32,36,49,522
Portugal,32,40,37,41,45,36,38,47,36,46,38,37,42,515
All,132,165,151,159,180,160,149,166,138,167,137,162,184,2050

In [13]:
pd.crosstab(df['País da Loja'], [df['Nome Produto'], df['Garantia Extendida']], margins=True)

Nome Produto       Cabo HDMI     Cadeira     Computador     HD SSD      \
Garantia Extendida       Não Sim     Não Sim        Não Sim    Não Sim
País da Loja
Brasil                    16  19      28  20         26  13     11  19
Espanha                   17  20      20  21         27  12     26  18
Estados Unidos            12  16      12  24         17  19     20  24
Portugal                  18  14      15  25         19  18     19  22
All                       63  69      75  90         89  62     76  83

Nome Produto       Licença Office 365      ... Monitor Mouse     Notebook      \
Garantia Extendida                Não Sim  ...     Sim   Não Sim      Não Sim
País da Loja                               ...
Brasil                             22  25  ...      19    22  15       19  15
Espanha                            19  19  ...      23    16  17       21  12
Estados Unidos                     23  27  ...      19    26  25       12  20
Portugal                           20  25  ...      16    17  29       23  15
All                                84  96  ...      77    81  86       75  62

Nome Produto       Placa de Vídeo     Teclado        All
Garantia Extendida            Não Sim     Não  Sim
País da Loja
Brasil                         21  27      17   29   525
Espanha                        17  24      24   23   488
Estados Unidos                 18  18      22   27   522
Portugal                       19  18      21   21   515
All                            75  87      84  100  2050

[5 rows x 27 columns]

In [15]:
pd.crosstab(df['Nome Produto'], df['País da Loja'], values=df['Quantidade Vendido'], aggfunc=(np.sum), margins=True)

/tmp/ipykernel_2759/1528638024.py:1: FutureWarning: The provided callable <function sum at 0x7f3364115ea0> is currently using DataFrameGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  pd.crosstab(df['Nome Produto'], df['País da Loja'], values=df['Quantidade Vendido'], aggfunc=(np.sum), margins=True)
/tmp/ipykernel_2759/1528638024.py:1: FutureWarning: The provided callable <function sum at 0x7f3364115ea0> is currently using DataFrameGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  pd.crosstab(df['Nome Produto'], df['País da Loja'], values=df['Quantidade Vendido'], aggfunc=(np.sum), margins=True)
/tmp/ipykernel_2759/1528638024.py:1: FutureWarning: The provided callable <function sum at 0x7f3364115ea0> is currently using DataFrameGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  pd.crosstab(df['Nome Produto'], df['País da Loja'], values=df['Quantidade Vendido'], aggfunc=(np.sum), margins=True)

País da Loja        Brasil  Espanha  Estados Unidos  Portugal    All
Nome Produto
Cabo HDMI              189      182             154       175    700
Cadeira                273      232             207       200    912
Computador             218      227             188       156    789
HD SSD                 167      221             266       220    874
Licença Office 365     279      232             278       304   1093
Licença Windows        243      201             220       191    855
Memória                230      127             204       230    791
Mesa                   188      156             235       231    810
Monitor                189      207             179       224    799
Mouse                  205      186             295       208    894
Notebook               183      196             171       213    763
Placa de Vídeo         310      242             180       192    924
Teclado                230      267             285       216    998
All                   2904     2676            2862      2760  11202

In [17]:
df['valor_total'] = df['Valor Unitário'] * df['Quantidade Vendido']

df2 = df.copy()

df2

,Data da Venda,Código Produto,Nome Produto,Garantia Extendida,Categoria do Produto,Quantidade Vendido,Valor Unitário,Valor Total da Venda,Cidade da Loja,País da Loja,Vendedor,valor_total
0,2023-12-22,35,Computador,Não,Computadores,2,2806.0,5612.0,New York,Estados Unidos,Bob,5612.0
1,2023-03-23,60,Cadeira,Não,Móveis,6,312.0,1872.0,Porto,Portugal,Sofia,1872.0
2,2023-12-15,10,Mouse,Sim,Periféricos,9,122.0,1098.0,Los Angeles,Estados Unidos,Bob,1098.0
3,2023-08-29,10,Mouse,Sim,Periféricos,9,114.0,1026.0,Los Angeles,Estados Unidos,John,1026.0
4,2023-12-16,50,Mesa,Não,Móveis,4,549.0,2196.0,Madrid,Espanha,David,2196.0
...,...,...,...,...,...,...,...,...,...,...,...,...
2045,2023-06-29,96,Placa de Vídeo,Não,Periféricos,10,2420.0,24200.0,Belo Horizonte,Brasil,Carlos,24200.0
2046,2023-08-21,70,Licença Windows,Não,Software,8,1026.0,8208.0,Madrid,Espanha,David,8208.0
2047,2023-05-27,23,Cabo HDMI,Sim,Periféricos,9,43.2,388.8,Coimbra,Portugal,Miguel,388.8
2048,2023-03-27,10,Mouse,Não,Periféricos,8,104.0,832.0,New York,Estados Unidos,Alice,832.0
2049,2023-04-12,95,Memória,Sim,Armazenamento,2,339.2,678.4,New York,Estados Unidos,John,678.4

In [19]:
#percentual de vendas por país e produto
pd.crosstab(df2['País da Loja'], df2['Nome Produto'], normalize='index')

Nome Produto,Cabo HDMI,Cadeira,Computador,HD SSD,Licença Office 365,Licença Windows,Memória,Mesa,Monitor,Mouse,Notebook,Placa de Vídeo,Teclado
País da Loja,,,,,,,,,,,,,
Brasil,0.066667,0.091429,0.074286,0.057143,0.089524,0.089524,0.081905,0.070476,0.064762,0.070476,0.064762,0.091429,0.087619
Espanha,0.075820,0.084016,0.079918,0.090164,0.077869,0.065574,0.059426,0.075820,0.075820,0.067623,0.067623,0.084016,0.096311
Estados Unidos,0.053640,0.068966,0.068966,0.084291,0.095785,0.086207,0.074713,0.086207,0.059387,0.097701,0.061303,0.068966,0.093870
Portugal,0.062136,0.077670,0.071845,0.079612,0.087379,0.069903,0.073786,0.091262,0.069903,0.089320,0.073786,0.071845,0.081553

In [20]:
#percentual de vendas por país e produto
pd.crosstab(df2['País da Loja'], df2['Nome Produto'], normalize='index').round(4)*100

Nome Produto,Cabo HDMI,Cadeira,Computador,HD SSD,Licença Office 365,Licença Windows,Memória,Mesa,Monitor,Mouse,Notebook,Placa de Vídeo,Teclado
País da Loja,,,,,,,,,,,,,
Brasil,6.67,9.14,7.43,5.71,8.95,8.95,8.19,7.05,6.48,7.05,6.48,9.14,8.76
Espanha,7.58,8.40,7.99,9.02,7.79,6.56,5.94,7.58,7.58,6.76,6.76,8.40,9.63
Estados Unidos,5.36,6.90,6.90,8.43,9.58,8.62,7.47,8.62,5.94,9.77,6.13,6.90,9.39
Portugal,6.21,7.77,7.18,7.96,8.74,6.99,7.38,9.13,6.99,8.93,7.38,7.18,8.16

In [23]:
#agrupamento
df_argupamentoProdutos = df.groupby(['Nome Produto'])
df_argupamentoProdutos

In [26]:
#quantidade de grupos
df_argupamentoProdutos.ngroups

13

In [28]:
df.groupby(['País da Loja']).ngroups

4

In [29]:
df.groupby(['País da Loja']).groups

{'Brasil': [6, 7, 12, 15, 17, 27, 28, 31, 35, 37, 45, 59, 66, 67, 71, 72, 73, 81, 82, 87, 101, 109, 113, 118, 119, 128, 136, 140, 147, 154, 157, 160, 166, 168, 176, 177, 186, 187, 188, 193, 194, 198, 200, 203, 206, 210, 211, 212, 213, 224, 225, 228, 229, 230, 237, 240, 242, 243, 248, 252, 254, 255, 256, 264, 267, 269, 272, 279, 282, 284, 287, 291, 292, 294, 296, 297, 299, 301, 306, 307, 316, 317, 325, 328, 332, 335, 336, 339, 345, 346, 350, 353, 354, 356, 358, 359, 360, 363, 369, 372, ...], 'Espanha': [4, 5, 10, 13, 44, 50, 51, 52, 53, 55, 57, 63, 65, 70, 78, 80, 85, 89, 90, 97, 99, 104, 105, 124, 125, 130, 131, 135, 137, 138, 142, 144, 145, 149, 153, 158, 162, 170, 173, 174, 182, 189, 191, 192, 197, 199, 201, 204, 215, 216, 222, 223, 227, 231, 233, 244, 246, 249, 250, 259, 270, 271, 273, 274, 277, 281, 283, 293, 300, 313, 320, 321, 323, 329, 337, 341, 342, 347, 365, 366, 373, 376, 378, 383, 384, 385, 388, 393, 394, 399, 401, 403, 406, 423, 428, 438, 439, 447, 448, 450, ...], 'Estados Unidos': [0, 2, 3, 8, 9, 11, 14, 16, 19, 20, 22, 26, 30, 32, 34, 38, 39, 41, 42, 43, 54, 56, 60, 61, 62, 64, 74, 75, 84, 88, 92, 93, 95, 96, 100, 102, 103, 107, 112, 115, 116, 117, 121, 122, 127, 133, 141, 146, 148, 150, 152, 155, 156, 159, 164, 165, 172, 175, 195, 219, 226, 234, 235, 236, 238, 245, 253, 257, 261, 265, 266, 268, 275, 278, 285, 288, 290, 295, 298, 302, 309, 310, 312, 322, 324, 330, 333, 334, 338, 343, 348, 361, 364, 367, 370, 371, 375, 380, 389, 390, ...], 'Portugal': [1, 18, 21, 23, 24, 25, 29, 33, 36, 40, 46, 47, 48, 49, 58, 68, 69, 76, 77, 79, 83, 86, 91, 94, 98, 106, 108, 110, 111, 114, 120, 123, 126, 129, 132, 134, 139, 143, 151, 161, 163, 167, 169, 171, 178, 179, 180, 181, 183, 184, 185, 190, 196, 202, 205, 207, 208, 209, 214, 217, 218, 220, 221, 232, 239, 241, 247, 251, 258, 260, 262, 263, 276, 280, 286, 289, 303, 304, 305, 308, 311, 314, 315, 318, 319, 326, 327, 331, 340, 344, 349, 351, 352, 355, 357, 362, 368, 374, 379, 381, ...]}

In [31]:
#quantidade de registros por país
df.groupby(['País da Loja']).size()

País da Loja
Brasil            525
Espanha           488
Estados Unidos    522
Portugal          515
dtype: int64

In [33]:
#filtra só por registros do Brasil
df.groupby(['País da Loja']).get_group('Brasil')

/tmp/ipykernel_2759/2827219312.py:2: FutureWarning: When grouping with a length-1 list-like, you will need to pass a length-1 tuple to get_group in a future version of pandas. Pass `(name,)` instead of `name` to silence this warning.
  df.groupby(['País da Loja']).get_group('Brasil')

,Data da Venda,Código Produto,Nome Produto,Garantia Extendida,Categoria do Produto,Quantidade Vendido,Valor Unitário,Valor Total da Venda,Cidade da Loja,País da Loja,Vendedor,valor_total
6,2023-07-19,70,Licença Windows,Sim,Software,5,1008.0,5040.0,São Paulo,Brasil,Carlos,5040.0
7,2023-07-09,11,Teclado,Sim,Periféricos,9,168.0,1512.0,Belo Horizonte,Brasil,Carlos,1512.0
12,2023-04-12,50,Mesa,Não,Móveis,4,477.0,1908.0,Rio de Janeiro,Brasil,Ana,1908.0
15,2023-09-12,90,HD SSD,Não,Armazenamento,7,696.0,4872.0,Belo Horizonte,Brasil,Carlos,4872.0
17,2023-09-07,35,Computador,Não,Computadores,3,2668.0,8004.0,Belo Horizonte,Brasil,João,8004.0
...,...,...,...,...,...,...,...,...,...,...,...,...
2030,2024-01-17,95,Memória,Não,Armazenamento,3,320.0,960.0,São Paulo,Brasil,Ana,960.0
2032,2023-09-08,35,Computador,Não,Computadores,3,2668.0,8004.0,Belo Horizonte,Brasil,João,8004.0
2038,2023-09-29,30,Notebook,Sim,Computadores,5,4060.0,20300.0,Rio de Janeiro,Brasil,Carlos,20300.0
2041,2023-10-19,96,Placa de Vídeo,Não,Periféricos,2,2596.0,5192.0,São Paulo,Brasil,Carlos,5192.0
2045,2023-06-29,96,Placa de Vídeo,Não,Periféricos,10,2420.0,24200.0,Belo Horizonte,Brasil,Carlos,24200.0

In [44]:
resultado = df.groupby(['País da Loja', 'Nome Produto'])['valor_total'].sum().reset_index()
resultado

      País da Loja        Nome Produto  valor_total
0           Brasil           Cabo HDMI       8402.4
1           Brasil             Cadeira      92322.0
2           Brasil          Computador     565432.0
3           Brasil              HD SSD     111552.0
4           Brasil  Licença Office 365     107793.0
5           Brasil     Licença Windows     240876.0
6           Brasil             Memória      80211.2
7           Brasil                Mesa      95274.0
8           Brasil             Monitor     168528.0
9           Brasil               Mouse      22484.0
10          Brasil            Notebook     712320.0
11          Brasil      Placa de Vídeo     744172.0
12          Brasil             Teclado      37200.0
13         Espanha           Cabo HDMI       8046.4
14         Espanha             Cadeira      76716.0
15         Espanha          Computador     575414.0
16         Espanha              HD SSD     147312.0
17         Espanha  Licença Office 365      90944.0
18         Espanha     Licença Windows     200556.0
19         Espanha             Memória      45606.4
20         Espanha                Mesa      76239.0
21         Espanha             Monitor     184144.0
22         Espanha               Mouse      20754.0
23         Espanha            Notebook     770700.0
24         Espanha      Placa de Vídeo     581504.0
25         Espanha             Teclado      44301.0
26  Estados Unidos           Cabo HDMI       6854.4
27  Estados Unidos             Cadeira      70278.0
28  Estados Unidos          Computador     491234.0
29  Estados Unidos              HD SSD     176736.0
30  Estados Unidos  Licença Office 365     108647.0
31  Estados Unidos     Licença Windows     218448.0
32  Estados Unidos             Memória      71769.6
33  Estados Unidos                Mesa     116208.0
34  Estados Unidos             Monitor     161760.0
35  Estados Unidos               Mouse      32984.0
36  Estados Unidos            Notebook     666540.0
37  Estados Unidos      Placa de Vídeo     444532.0
38  Estados Unidos             Teclado      47574.0
39        Portugal           Cabo HDMI       7776.8
40        Portugal             Cadeira      66516.0
41        Portugal          Computador     399050.0
42        Portugal              HD SSD     145512.0
43        Portugal  Licença Office 365     120001.0
44        Portugal     Licença Windows     189216.0
45        Portugal             Memória      82905.6
46        Portugal                Mesa     113868.0
47        Portugal             Monitor     198992.0
48        Portugal               Mouse      23222.0
49        Portugal            Notebook     830550.0
50        Portugal      Placa de Vídeo     471944.0
51        Portugal             Teclado      35196.0

In [46]:
clientes = pd.read_excel('/workspaces/descomplicaMBADataScience/cliente.xlsx')
clientes

        nome sobrenome data_compra
0        Ana     Silva  2023-01-10
1      Bruno  Oliveira  2023-02-15
2     Carlos    Santos  2023-03-20
3      Diana     Costa  2023-04-25
4    Eduardo   Machado  2023-05-30
5   Fernanda     Rocha  2023-06-04
6    Gabriel   Almeida  2023-07-09
7     Helena  Carvalho  2023-08-14
8       Igor    Mendes  2023-09-18
9    Juliana    Barros  2023-10-23
10    Kleber      Lima  2023-11-27
11   Larissa  Nogueira  2023-12-02
12    Marcos    Duarte  2024-01-06
13     Nívea     Pires  2024-02-10
14    Otávio   Queiroz  2024-03-17
15  Patrícia   Sampaio  2024-04-21
16  Quintino     Gomes  2024-05-26
17   Rafaela  Monteiro  2024-06-30
18    Sandro     Lopes  2024-07-05
19   Tatiane    Farias  2024-08-09

In [49]:
#concatenação
clientes['nome_completo'] = clientes.nome + ' ' + clientes.sobrenome
clientes

        nome sobrenome data_compra     nome_completo
0        Ana     Silva  2023-01-10         Ana Silva
1      Bruno  Oliveira  2023-02-15    Bruno Oliveira
2     Carlos    Santos  2023-03-20     Carlos Santos
3      Diana     Costa  2023-04-25       Diana Costa
4    Eduardo   Machado  2023-05-30   Eduardo Machado
5   Fernanda     Rocha  2023-06-04    Fernanda Rocha
6    Gabriel   Almeida  2023-07-09   Gabriel Almeida
7     Helena  Carvalho  2023-08-14   Helena Carvalho
8       Igor    Mendes  2023-09-18       Igor Mendes
9    Juliana    Barros  2023-10-23    Juliana Barros
10    Kleber      Lima  2023-11-27       Kleber Lima
11   Larissa  Nogueira  2023-12-02  Larissa Nogueira
12    Marcos    Duarte  2024-01-06     Marcos Duarte
13     Nívea     Pires  2024-02-10       Nívea Pires
14    Otávio   Queiroz  2024-03-17    Otávio Queiroz
15  Patrícia   Sampaio  2024-04-21  Patrícia Sampaio
16  Quintino     Gomes  2024-05-26    Quintino Gomes
17   Rafaela  Monteiro  2024-06-30  Rafaela Monteiro
18    Sandro     Lopes  2024-07-05      Sandro Lopes
19   Tatiane    Farias  2024-08-09    Tatiane Farias

In [51]:
#concatenação usando join
clientes['nome_completo2'] = clientes[['nome', 'sobrenome']].apply(' '.join, axis=1)
clientes

        nome sobrenome data_compra     nome_completo    nome_completo2
0        Ana     Silva  2023-01-10         Ana Silva         Ana Silva
1      Bruno  Oliveira  2023-02-15    Bruno Oliveira    Bruno Oliveira
2     Carlos    Santos  2023-03-20     Carlos Santos     Carlos Santos
3      Diana     Costa  2023-04-25       Diana Costa       Diana Costa
4    Eduardo   Machado  2023-05-30   Eduardo Machado   Eduardo Machado
5   Fernanda     Rocha  2023-06-04    Fernanda Rocha    Fernanda Rocha
6    Gabriel   Almeida  2023-07-09   Gabriel Almeida   Gabriel Almeida
7     Helena  Carvalho  2023-08-14   Helena Carvalho   Helena Carvalho
8       Igor    Mendes  2023-09-18       Igor Mendes       Igor Mendes
9    Juliana    Barros  2023-10-23    Juliana Barros    Juliana Barros
10    Kleber      Lima  2023-11-27       Kleber Lima       Kleber Lima
11   Larissa  Nogueira  2023-12-02  Larissa Nogueira  Larissa Nogueira
12    Marcos    Duarte  2024-01-06     Marcos Duarte     Marcos Duarte
13     Nívea     Pires  2024-02-10       Nívea Pires       Nívea Pires
14    Otávio   Queiroz  2024-03-17    Otávio Queiroz    Otávio Queiroz
15  Patrícia   Sampaio  2024-04-21  Patrícia Sampaio  Patrícia Sampaio
16  Quintino     Gomes  2024-05-26    Quintino Gomes    Quintino Gomes
17   Rafaela  Monteiro  2024-06-30  Rafaela Monteiro  Rafaela Monteiro
18    Sandro     Lopes  2024-07-05      Sandro Lopes      Sandro Lopes
19   Tatiane    Farias  2024-08-09    Tatiane Farias    Tatiane Farias

In [59]:
# Lendo a aba de vendas
df_vendas = pd.read_excel('/workspaces/descomplicaMBADataScience/vendas_informatica.xlsx', sheet_name='Vendas Produtos')

# Lendo a aba de clientes
df_clientes = pd.read_excel('/workspaces/descomplicaMBADataScience/vendas_informatica.xlsx', sheet_name='Vendas por Cliente')

In [60]:
df_vendas

,ID Venda,Data da Venda,Código Produto,Nome Produto,Garantia Extendida,Categoria do Produto,Quantidade Vendido,Valor Unitário,Valor Total da Venda,Cidade da Loja,País da Loja,Vendedor
0,1,2023-11-14,70,Licença Windows,Sim,Software,9,1080.0,9720.0,New York,Estados Unidos,Alice
1,2,2024-02-28,35,Computador,Sim,Computadores,10,2346.0,23460.0,New York,Estados Unidos,Bob
2,3,2023-12-14,70,Licença Windows,Não,Software,7,1098.0,7686.0,Porto,Portugal,André
3,4,2023-05-27,30,Notebook,Não,Computadores,1,3780.0,3780.0,Belo Horizonte,Brasil,João
4,5,2023-08-31,90,HD SSD,Sim,Armazenamento,6,684.0,4104.0,Porto,Portugal,André
...,...,...,...,...,...,...,...,...,...,...,...,...
2045,374,2024-01-05,70,Licença Windows,Sim,Software,9,900.0,8100.0,Lisboa,Portugal,André
2046,1798,2023-09-09,20,Monitor,Sim,Monitores,4,928.0,3712.0,Coimbra,Portugal,Miguel
2047,726,2023-04-16,11,Teclado,Não,Periféricos,5,159.0,795.0,Chicago,Estados Unidos,John
2048,11,2024-03-12,50,Mesa,Não,Móveis,7,468.0,3276.0,New York,Estados Unidos,John
2049,291,2024-02-28,35,Computador,Sim,Computadores,10,2346.0,23460.0,Porto,Portugal,Sofia

In [61]:
df_clientes

      ID Venda  Codigo_Produto Nome_Cliente Sobrenome_Cliente Data_Compra
0            1              70      Randall           Parsons  2023-11-14
1            2              35        Jared           Salazar  2024-02-28
2            3              70      Rebecca             Jones  2023-12-14
3            4              30     Stefanie             Brown  2023-05-27
4            5              90    Christine          Martinez  2023-08-31
...        ...             ...          ...               ...         ...
2045       374              70        Mason          Randolph  2024-01-05
2046      1798              20    Elizabeth              West  2023-09-09
2047       726              11       Philip            Cortez  2023-04-16
2048        11              50       Dalton          Marshall  2024-03-12
2049       291              35  Christopher             Adams  2024-02-28

[2050 rows x 5 columns]

In [63]:
#concatenação usando join
df_clientes['nome_completo'] = df_clientes[['Nome_Cliente', 'Sobrenome_Cliente']].apply(' '.join, axis=1)
df_clientes

,ID Venda,Codigo_Produto,Nome_Cliente,Sobrenome_Cliente,Data_Compra,nome_completo2,nome_completo
0,1,70,Randall,Parsons,2023-11-14,Randall Parsons,Randall Parsons
1,2,35,Jared,Salazar,2024-02-28,Jared Salazar,Jared Salazar
2,3,70,Rebecca,Jones,2023-12-14,Rebecca Jones,Rebecca Jones
3,4,30,Stefanie,Brown,2023-05-27,Stefanie Brown,Stefanie Brown
4,5,90,Christine,Martinez,2023-08-31,Christine Martinez,Christine Martinez
...,...,...,...,...,...,...,...
2045,374,70,Mason,Randolph,2024-01-05,Mason Randolph,Mason Randolph
2046,1798,20,Elizabeth,West,2023-09-09,Elizabeth West,Elizabeth West
2047,726,11,Philip,Cortez,2023-04-16,Philip Cortez,Philip Cortez
2048,11,50,Dalton,Marshall,2024-03-12,Dalton Marshall,Dalton Marshall
2049,291,35,Christopher,Adams,2024-02-28,Christopher Adams,Christopher Adams

In [66]:
#função merge, que é igual ao relacionamento de tabelas no sql (inner, left, rigth, outer)
df_merge = pd.merge(df_clientes, df_vendas, how='inner', on='ID Venda')
df_merge

,ID Venda,Codigo_Produto,Nome_Cliente,Sobrenome_Cliente,Data_Compra,nome_completo2,nome_completo,Data da Venda,Código Produto,Nome Produto,Garantia Extendida,Categoria do Produto,Quantidade Vendido,Valor Unitário,Valor Total da Venda,Cidade da Loja,País da Loja,Vendedor
0,1,70,Randall,Parsons,2023-11-14,Randall Parsons,Randall Parsons,2023-11-14,70,Licença Windows,Sim,Software,9,1080.0,9720.0,New York,Estados Unidos,Alice
1,2,35,Jared,Salazar,2024-02-28,Jared Salazar,Jared Salazar,2024-02-28,35,Computador,Sim,Computadores,10,2346.0,23460.0,New York,Estados Unidos,Bob
2,3,70,Rebecca,Jones,2023-12-14,Rebecca Jones,Rebecca Jones,2023-12-14,70,Licença Windows,Não,Software,7,1098.0,7686.0,Porto,Portugal,André
3,4,30,Stefanie,Brown,2023-05-27,Stefanie Brown,Stefanie Brown,2023-05-27,30,Notebook,Não,Computadores,1,3780.0,3780.0,Belo Horizonte,Brasil,João
4,5,90,Christine,Martinez,2023-08-31,Christine Martinez,Christine Martinez,2023-08-31,90,HD SSD,Sim,Armazenamento,6,684.0,4104.0,Porto,Portugal,André
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2149,726,11,Philip,Cortez,2023-04-16,Philip Cortez,Philip Cortez,2023-04-16,11,Teclado,Não,Periféricos,5,159.0,795.0,Chicago,Estados Unidos,John
2150,11,50,Dalton,Marshall,2024-03-12,Dalton Marshall,Dalton Marshall,2024-03-12,50,Mesa,Não,Móveis,7,468.0,3276.0,New York,Estados Unidos,John
2151,11,50,Dalton,Marshall,2024-03-12,Dalton Marshall,Dalton Marshall,2024-03-12,50,Mesa,Não,Móveis,7,468.0,3276.0,New York,Estados Unidos,John
2152,291,35,Christopher,Adams,2024-02-28,Christopher Adams,Christopher Adams,2024-02-28,35,Computador,Sim,Computadores,10,2346.0,23460.0,Porto,Portugal,Sofia
2153,291,35,Christopher,Adams,2024-02-28,Christopher Adams,Christopher Adams,2024-02-28,35,Computador,Sim,Computadores,10,2346.0,23460.0,Porto,Portugal,Sofia

In [71]:
clientes2 = clientes.copy(deep=False)

In [ ]:
#concatenando usando append, encaixando um embaixo do outro
clientes_df_append = clientes.append(clientes2)
clientes_df_append

In [74]:
#concatenando usando concat
clientes_df_concat = pd.concat([clientes, clientes2])
clientes_df_concat

        nome sobrenome data_compra     nome_completo    nome_completo2
0        Ana     Silva  2023-01-10         Ana Silva         Ana Silva
1      Bruno  Oliveira  2023-02-15    Bruno Oliveira    Bruno Oliveira
2     Carlos    Santos  2023-03-20     Carlos Santos     Carlos Santos
3      Diana     Costa  2023-04-25       Diana Costa       Diana Costa
4    Eduardo   Machado  2023-05-30   Eduardo Machado   Eduardo Machado
5   Fernanda     Rocha  2023-06-04    Fernanda Rocha    Fernanda Rocha
6    Gabriel   Almeida  2023-07-09   Gabriel Almeida   Gabriel Almeida
7     Helena  Carvalho  2023-08-14   Helena Carvalho   Helena Carvalho
8       Igor    Mendes  2023-09-18       Igor Mendes       Igor Mendes
9    Juliana    Barros  2023-10-23    Juliana Barros    Juliana Barros
10    Kleber      Lima  2023-11-27       Kleber Lima       Kleber Lima
11   Larissa  Nogueira  2023-12-02  Larissa Nogueira  Larissa Nogueira
12    Marcos    Duarte  2024-01-06     Marcos Duarte     Marcos Duarte
13     Nívea     Pires  2024-02-10       Nívea Pires       Nívea Pires
14    Otávio   Queiroz  2024-03-17    Otávio Queiroz    Otávio Queiroz
15  Patrícia   Sampaio  2024-04-21  Patrícia Sampaio  Patrícia Sampaio
16  Quintino     Gomes  2024-05-26    Quintino Gomes    Quintino Gomes
17   Rafaela  Monteiro  2024-06-30  Rafaela Monteiro  Rafaela Monteiro
18    Sandro     Lopes  2024-07-05      Sandro Lopes      Sandro Lopes
19   Tatiane    Farias  2024-08-09    Tatiane Farias    Tatiane Farias
0        Ana     Silva  2023-01-10         Ana Silva         Ana Silva
1      Bruno  Oliveira  2023-02-15    Bruno Oliveira    Bruno Oliveira
2     Carlos    Santos  2023-03-20     Carlos Santos     Carlos Santos
3      Diana     Costa  2023-04-25       Diana Costa       Diana Costa
4    Eduardo   Machado  2023-05-30   Eduardo Machado   Eduardo Machado
5   Fernanda     Rocha  2023-06-04    Fernanda Rocha    Fernanda Rocha
6    Gabriel   Almeida  2023-07-09   Gabriel Almeida   Gabriel Almeida
7     Helena  Carvalho  2023-08-14   Helena Carvalho   Helena Carvalho
8       Igor    Mendes  2023-09-18       Igor Mendes       Igor Mendes
9    Juliana    Barros  2023-10-23    Juliana Barros    Juliana Barros
10    Kleber      Lima  2023-11-27       Kleber Lima       Kleber Lima
11   Larissa  Nogueira  2023-12-02  Larissa Nogueira  Larissa Nogueira
12    Marcos    Duarte  2024-01-06     Marcos Duarte     Marcos Duarte
13     Nívea     Pires  2024-02-10       Nívea Pires       Nívea Pires
14    Otávio   Queiroz  2024-03-17    Otávio Queiroz    Otávio Queiroz
15  Patrícia   Sampaio  2024-04-21  Patrícia Sampaio  Patrícia Sampaio
16  Quintino     Gomes  2024-05-26    Quintino Gomes    Quintino Gomes
17   Rafaela  Monteiro  2024-06-30  Rafaela Monteiro  Rafaela Monteiro
18    Sandro     Lopes  2024-07-05      Sandro Lopes      Sandro Lopes
19   Tatiane    Farias  2024-08-09    Tatiane Farias    Tatiane Farias

In [75]:
#concatenando usando concat na horizontal, usando o eixo 1
clientes_df_concat_horizontal = pd.concat([clientes, clientes2], axis=1)
clientes_df_concat_horizontal

,nome,sobrenome,data_compra,nome_completo,nome_completo2,nome,sobrenome,data_compra,nome_completo,nome_completo2
0,Ana,Silva,2023-01-10,Ana Silva,Ana Silva,Ana,Silva,2023-01-10,Ana Silva,Ana Silva
1,Bruno,Oliveira,2023-02-15,Bruno Oliveira,Bruno Oliveira,Bruno,Oliveira,2023-02-15,Bruno Oliveira,Bruno Oliveira
2,Carlos,Santos,2023-03-20,Carlos Santos,Carlos Santos,Carlos,Santos,2023-03-20,Carlos Santos,Carlos Santos
3,Diana,Costa,2023-04-25,Diana Costa,Diana Costa,Diana,Costa,2023-04-25,Diana Costa,Diana Costa
4,Eduardo,Machado,2023-05-30,Eduardo Machado,Eduardo Machado,Eduardo,Machado,2023-05-30,Eduardo Machado,Eduardo Machado
5,Fernanda,Rocha,2023-06-04,Fernanda Rocha,Fernanda Rocha,Fernanda,Rocha,2023-06-04,Fernanda Rocha,Fernanda Rocha
6,Gabriel,Almeida,2023-07-09,Gabriel Almeida,Gabriel Almeida,Gabriel,Almeida,2023-07-09,Gabriel Almeida,Gabriel Almeida
7,Helena,Carvalho,2023-08-14,Helena Carvalho,Helena Carvalho,Helena,Carvalho,2023-08-14,Helena Carvalho,Helena Carvalho
8,Igor,Mendes,2023-09-18,Igor Mendes,Igor Mendes,Igor,Mendes,2023-09-18,Igor Mendes,Igor Mendes
9,Juliana,Barros,2023-10-23,Juliana Barros,Juliana Barros,Juliana,Barros,2023-10-23,Juliana Barros,Juliana Barros
10,Kleber,Lima,2023-11-27,Kleber Lima,Kleber Lima,Kleber,Lima,2023-11-27,Kleber Lima,Kleber Lima
11,Larissa,Nogueira,2023-12-02,Larissa Nogueira,Larissa Nogueira,Larissa,Nogueira,2023-12-02,Larissa Nogueira,Larissa Nogueira
12,Marcos,Duarte,2024-01-06,Marcos Duarte,Marcos Duarte,Marcos,Duarte,2024-01-06,Marcos Duarte,Marcos Duarte
13,Nívea,Pires,2024-02-10,Nívea Pires,Nívea Pires,Nívea,Pires,2024-02-10,Nívea Pires,Nívea Pires
14,Otávio,Queiroz,2024-03-17,Otávio Queiroz,Otávio Queiroz,Otávio,Queiroz,2024-03-17,Otávio Queiroz,Otávio Queiroz
15,Patrícia,Sampaio,2024-04-21,Patrícia Sampaio,Patrícia Sampaio,Patrícia,Sampaio,2024-04-21,Patrícia Sampaio,Patrícia Sampaio
16,Quintino,Gomes,2024-05-26,Quintino Gomes,Quintino Gomes,Quintino,Gomes,2024-05-26,Quintino Gomes,Quintino Gomes
17,Rafaela,Monteiro,2024-06-30,Rafaela Monteiro,Rafaela Monteiro,Rafaela,Monteiro,2024-06-30,Rafaela Monteiro,Rafaela Monteiro
18,Sandro,Lopes,2024-07-05,Sandro Lopes,Sandro Lopes,Sandro,Lopes,2024-07-05,Sandro Lopes,Sandro Lopes
19,Tatiane,Farias,2024-08-09,Tatiane Farias,Tatiane Farias,Tatiane,Farias,2024-08-09,Tatiane Farias,Tatiane Farias